@media screen and (max-height: 700px) {
    #home > .content {
        margin-top: 60px !important;
        padding-top: 10px;
        transition: all 0.3s ease;
    }

    #site-title {
        width: 420px;
        height: 90px !important;
        margin-right: 0;
    }

    #site-title > span {
        transform: none;
        bottom: 10px;
        left: 10px;
        margin-left: 10px;
        font-size: 0.9em;
    }
}

@media screen and (max-height: 840px) {
    #site-title {
        height: 440px;
    }

    #home > .content {
        margin-top: 120px;
        transition: all 0.3s ease;
    }
}

@media screen and (max-width: 935px) {
    #site-title {
        margin-right: 30px;
        transition: all 0.3s ease;
    }

    #home > .content {
        margin-left: 60px;
    }
}

/* HANDHELD DEVICES */

@media screen and (max-width: 700px) {
    #site-title {
        width: 420px;
        height: 90px;
        margin-right: 0;
    }

    #site-title > span {
        transform: none;
        bottom: 10px;
        left: 10px;
        margin-left: 10px;
        font-size: 0.9em;
    }

    #home > .content {
        width: auto;
    }
}

@media screen and (max-width: 850px) {
    #branding {
        display: none;
    }
    
     .full {
        min-height: 0 !important;
    }
}

@media screen and (max-width: 537px) {
    #site-title {
        width: 100%;
        text-align: right;
        background: none;
        margin: 25px 20px 0 0;
    }

    #site-title > span {
        margin-left: 0;
        display: inline;
        top: 2px;
        position: relative;
        color: #e0e0e0;
        font-size: 30px;
    }
    
    #home br:nth-child(2) {
        display: none;
    }
    
    #home {
        background: none;
    }

    #home > .content h1 {
        margin-left: -25px;
    }

    #home > .content > .inner-content {
        margin: -50px 0 0 0;
    }

    #home > .content {
        margin-left: 0;
        padding: 0 20px 20px 20px;
        margin-right: 0;
        margin-top: 0;
        width: auto;
    }
    
    #home .ui-button {
        display: none;
    }
}